@tailwind components;

@layer components {
  .underline-effect {
    cursor: pointer;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(
      120deg,
      var(--accent-color) 100%,
      var(--accent-color) 100%
    );
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
  }

  .underline-effect:hover {
    background-size: 100% 88%;
  }
}
