.card {
  @apply flex flex-col justify-between rounded p-4;
  background: var(--article-bg);
}

.card:hover {
  @apply shadow shadow-black/25;
}

.card p {
  @apply mb-5;
}

.title {
  color: var(--accent-color);
  margin-bottom: 1rem;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.stats div {
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
}

.stats > div:nth-child(2) {
  margin-right: 0;
}

.icon {
  color: var(--accent-color);
  margin-right: 0.3rem;
}
